include LICENSE
exclude MANIFEST.in
recursive-include irdap *.conf
recursive-include irdap *.txt
recursive-include irdap/static_calibs *
recursive-include docs/build *
recursive-include docs/index.html
recursive-exclude irdap/example_data *
recursive-exclude docs/source *
exclude docs/.nojekyll
exclude docs/make.bat
exclude docs/Makefile
exclude to_do
recursive-exclude mailing_list.txt
recursive-exclude update_procedure.txt